p,
h3 {
  margin: 0 20px 0 20px;
  padding: 20px;
}

h3 {
  margin-top: 20px;
  background-color: #D97706;
}

p {
  background-color: antiquewhite;
}

h1 {
  margin: 60px;
  text-align: center;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.item {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  transition: transform 0.3s ease;
}

.item:hover {
  transform: scale(1.05);
}
